<form action="/login" method="post">
    <input type="email" name="email">
    <input type="password" name="password"/>
    <input type="text" name="username"/>
    <button type="submit">submit</button>
</form>
<form action="/search/?username=sanand07" method="GET">
    <input type="hidden" name="username" value="sanand07" required>
    <button type="submit">Submit</button>
</form>